a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: Mukta, sans-serif;
}

button {
  border: none;
  border-radius: 3px;
  height: 25px;
  width: 50px;
  cursor: pointer;
}

button,
header {
  background-color: #562a80;
  color: white;
}

h3 {
  font-weight: 100;
}

img {
  height: 300px;
  object-fit: fill;
  width: 100%;
}

.input-text {
  padding: 0.5rem;
}

label {
  font-weight: bold;
}

.new-button {
  width: 50px;
  height: 30px;
  background-color: #562a80;
  color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-button {
  width: 60px;
  height: 30px;
  background-color: #562a80;
  color: white;
  border-radius: 3px;
}

textarea {
  height: 150px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.user-input {
  width: 100%;
  border: 1px solid #cfcfcf;
}

.user-input:focus {
  outline: none;
  border-color: #562a80;
}
