a {
  color: white;
  text-decoration: none;
}

a,
i,
button:hover {
  cursor: pointer;
}

button {
  width: 50px;
  border-radius: 3px;
  border: none;
  height: 25px;
}

button,
header {
  background-color: #562a80;
  color: white;
}

h3 {
  font-weight: 100;
}

i {
  color: #562a80;
  font-size: 1.5rem;
}

img {
  width: 100%;
  height: 300px;
  object-fit: fill;
}

label {
  font-weight: bold;
}

p {
  width: 100%;
  overflow-wrap: break-word;
}

textarea {
  height: 150px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.cancel-button {
  background-color: #d1d2d4;
  width: 100px;
}

.confirm-button {
  background-color: #fd3939;
  width: 100px;
}

.delete-button {
  background-color: inherit;
  color: red;
  text-decoration: underline red;
  white-space: nowrap;
  padding: 0;
}

.input-type-text {
  padding: 0.5rem;
}

.modal {
  background-color: white;
  width: 400px;
  text-align: center;
  padding: 2.5rem;
}

.new-button {
  width: 50px;
  height: 30px;
  background-color: #562a80;
  color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


.save-button {
  width: 60px;
  height: 30px;
  background-color: #562a80;
  color: white;
  border-radius: 3px;
}

.user-input {
  width: 100%;
  border: 1px solid #cfcfcf;
}

.user-input:focus {
  outline: none;
  border-color: #562a80;
}
